html, body {
	min-height: 100%;
	background: #25242c;
}
body {
	margin: 0px;
	background: #25242c;
	height: 100%;
}
#wrapper {
	height: 100%;
	position: relative;
}
#header {
	position: relative;
}
#header .user {
	position: absolute;
	right: 0px;
	top: 10px;
}
#header h1 {
	font-family: 'Arial';
}
#menu {
	background: #eee;
}
#menu ul {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
}
#menu li {
	float: left;
	margin-right: 10px;
	list-style-type: none;
}
#menu li a {
	display: block;
	padding: 5px 8px;
	color: #000;
	text-decoration: none;
}
#menu li a:hover {
	color: #666;
}

.shop_block {
	height: 200px;
	display: block;
	background: #f4f4f4;
	font-size: 24px;
	line-height: 200px;
	text-align: center;
}
.item_block {
	min-height: 180px;
	text-align: center;
	display: block;
}
.item_block img {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	background: #fff;
}
.item_block .name {
	background: #f4f4f4;
	padding: 5px 0px;
}

.balloons {
	margin-top: 20px;
	margin-bottom: 25px;
}
.balloons .balloon {
	background: #DDF6FB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	line-height: 24px;
}
.balloons .balloon.price {
	text-align: right;
	font-size: 32px;
	font-weight: bold;
	color: #19c3e4;
	text-shadow: 0px 1px 0px #fff;
}
.btn.btn-shop {
	display: block;
	padding: 15px;
	background: #76b61c;
	color: #fff;
	text-shadow: 0px 1px 0px #50970d;
	font-size: 20px;
}
.btn.btn-shop:hover {
	color: #fff;
	background: #50970d;
}
.pictures_container {
	padding-bottom: 110px;
}
#product_pictures .ms-slide img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#product_pictures .ms-view {
	background: #fff;
}
.ms-thumb-list .ms-thumb {
	width: 150px;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.ms-thumb-frame {
	margin-right: 9px;
}
.ms-thumb-list {
	bottom: -104px;
}
.ms-thumb-frame:last-child {
	margin-right: 0px;
}


.errors {
	color: red;
}
#footer {
	width: 1010px;
	margin: 0px auto;
	padding: 5px 0px;
	text-align: right;
}

.form-row {
	margin-bottom: 15px;
}
.form-row input, .form-row textarea {
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d9d9d9;
	color: #959595;
	font-size: 15px;
	padding: 11px 20px;
	max-width: 100%;
}
.form-row input[type="submit"] {
	background: #8ac473;
	border: 0px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	padding: 16px 35px;
	height: auto;
	line-height: 16px;
	width: auto;
	color: #fff;
}
.form-row input[type="submit"]:hover {
	background: #9bd385;
}


.upload_button {
	display: inline-block;
	background: #5bb247;
	color: #fff;
	border: 0px;
	padding: 0px 8px;
	line-height: 32px;
	height: 32px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 5px 0px 13px;
	cursor: pointer;
}
.upload_button:hover {
	background: #6bc157;
}
.upload_button_text {
	padding-left: 15px;
}
.prod_complete .find {
	margin-bottom: 5px;
}
.prod_complete .find input {
	height: 28px !important;
	width: 400px;
}
.prod_complete .find a {
	height: 30px !important;
	width: 30px;
	display: inline-block;
	background: url('../img/add.png') no-repeat;
	cursor: pointer;
	position: relative;
	top: 6px;
}
.prod_complete .added a {
	height: 16px !important;
	width: 16px;
	display: inline-block;
	background: url('../img/delete.png') no-repeat;
	cursor: pointer;
}
.prod_complete > input {
	display: none;
}

.cart {
	position: absolute;
	top: -10px;
	right: 0px;
	text-align: right;
}


div.post {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
div.post .title {
	font-weight: bold;
	font-size: 18px;
	margin-top: 0px;
}
div.post .date {
	padding: 5px 10px;
	background: #DD3333;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 8px;
}
div.post .image {
	margin-bottom: 15px;
}
div.post .image img {
	width: 100%;
	height: auto;
}
.post_social ul {
	overflow: hidden;
	padding: 0px;
	margin: 40px 0px;
}
.post_social li {
	padding: 0px;
	margin: 0px 25px 0px 0px;
	float: left;
	list-style-type: none;
}

.brand-sqr {
	height: 300px;
	margin-bottom: 30px;
}
.brand-sqr .element-inner {
	height: 100%;
}
.brand-sqr .element-inner .overlay-wrapper {
	height: 100%;
	background-color: white;
	position: relative;
}
.brand-sqr img {
	position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto; 
}
img.team-member {
	height: 200px; width:200px; border-radius: 100px; margin: 0 auto; margin-bottom: 25px; border: 3px solid rgb(149, 162, 82);
}
div.success {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #95a252;
	border-radius: 4px;
	text-align: center;
}
div.error {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #B54444;
	border-radius: 4px;
	text-align: center;
}