/*
Theme Name: AVENDOR
Author: FourGrafx
Author URI: http://www.fourgrafxt.com
Version: 1.0.0
Description: A Beautiful, Professional and Multipurpose Theme Made by FourGrafx</p>
---- COLOR CSS DEFAULT
*/

/* color */
a, .main-wrapper-header .breadcrumbs-wrapper .breadcrumb > li + li:before, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .mega-menu-list > li > a:hover, .mega-menu-list > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .title-color, .btn-primary.btn-alt, .cl-effect-4 a:hover::before,
.cl-effect-4 a:focus::before, .accordion .accordion-toggle, .accordion .accordion-toggle.collapsed:hover, .scrollup:hover, .scrollup:focus, .team-info .team-role, .nav-tabs.tabs-alt > li.active > a, .nav-tabs.tabs-alt > li.active > a:hover, .nav-tabs.tabs-alt > li.active > a:focus, .post-format, .product-links ul li a:hover, .shop-product .product-links ul li a:focus, .nav-tabs > li > a:hover, .footer-middle .footer-widget .tweet_list li .tweet_text a { color: #95a252;}

@media (min-width: 992px) {
  .navbar-nav > li > a:hover,.navbar-nav > li > a:focus {color: #95a252;}
}

/* background color */
.mega-menu-list > li.active > a, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .fancy-title span:after, .text-center.fancy-title span:after, .text-right.fancy-title span:after, .carousel .owl-controls .owl-buttons div, .carousel .owl-controls .owl-page span, .btn-primary, .btn-primary.btn-alt:hover, .btn-primary.btn-alt:focus, .btn-primary.btn-alt:active, .btn-primary.btn-alt.active, .open .dropdown-toggle.btn-primary.btn-alt, .progress-bar, hr.hr-fancy:after, .label-primary, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .pricing-table .pricing-table-head .pricing-head-title, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .blog-post .blog-post-side .blog-post-date, ul#filters li a.filter.selected, .colio-theme-gfx .colio-close, .colio-theme-gfx .colio-navigation a, .nav-tabs.tabs-alt > li.active > a:after, .accordion.accordion-alt .accordion-toggle, .accordion.accordion-alt .accordion-toggle.collapsed:hover, .overlay-bg, .o-tooltip-inner, .cl-effect-2 a::before, .cl-effect-2 a::after, .cl-effect-5 a::before, .cl-effect-5 a::after, .cl-effect-6 a::before, .cl-effect-6 a::after  {background-color: #95a252;}

/* border color */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, ul#filters li a.filter.selected, .btn-primary.btn-alt, .btn-primary.btn-alt:hover, .btn-primary.btn-alt:focus, .btn-primary.btn-alt:active, .btn-primary.btn-alt.active, .open .dropdown-toggle.btn-primary.btn-alt, .form-control:focus, .nav-tabs.nav-justified > .active > a:focus, .glyphs.css-mapping input:focus, .glyphs.css-mapping input:hover, .scrollup:hover, .scrollup:focus {border-color: #95a252;}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {border-bottom-color:#95a252; }
  .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {border-bottom-color: #95a252; }
}

/* hover color */
a:hover, a:focus, .social-top a:hover, .social-top a:focus, .top-menu a:hover, .top-menu a:focus, .footer-bottom a:hover, .post-meta-info a:hover, .post-meta-info a:focus {color: #99B021;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .label-primary[href]:hover, .label-primary[href]:focus{ background-color: #99B021;}

/* specials */
.nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-bottom-color: #95a252;}
.carousel .owl-controls .owl-page.active span, .carousel .owl-controls.clickable .owl-page:hover span{background-color: #95a252 !important;}

.o-tooltip.bc .o-tooltip-arrow{border-top-color:#95a252;}
.o-tooltip.mr .o-tooltip-arrow{border-left-color:#95a252;}
.o-tooltip.tc .o-tooltip-arrow{border-bottom-color:#95a252;}
.o-tooltip.ml .o-tooltip-arrow{border-right-color:#95a252;}
.o-tooltip.tl .o-tooltip-arrow{border-left-color:#95a252; }
.o-tooltip.bl .o-tooltip-arrow{border-left-color:#95a252; }
.o-tooltip.tr .o-tooltip-arrow{border-right-color:#95a252;}
.o-tooltip.br .o-tooltip-arrow{border-right-color:#95a252;}

.cl-effect-4 a:hover::before, .cl-effect-4 a:focus::before {text-shadow: 10px 0 #95a252, -10px 0 #95a252;}

.bg-color-default{ background-color:#95a252 !important;}
.color-default{ color:#95a252 !important;}
